body {
    background-color: bisque;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    color:black;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
  
}
.nav-1 h3{
    font-size: medium;
    padding: .8rem;
}
.nav-2 ul {
    list-style-type: none;
    margin: 0;
    padding: .5rem;
  }
  
 .nav-2 ul li {
    display: inline;
    padding: .5rem;

  }
.img-box img{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    margin-top: 3rem;
}
.text-container{
    height: 27rem;
    width: 55rem;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 0.5rem;
    >p{
        font-size: 1.2rem;
    }
}
.text-container h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}